[submodule "work/Fernflower"]
	path = work/Fernflower
	url = https://hub.spigotmc.org/stash/scm/spigot/Fernflower.git
[submodule "work/Determiner"]
	path = work/Determiner
	url = https://github.com/SpigotMC/Determiner.git
